<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="layout/layout :: htmlhead(title='宝贝的第一次')"></head>
<body class="am-with-topbar-fixed-top am-scrollable-vertical">

<script th:src="@{/highcharts/highcharts.js}"></script>
<script th:src="@{/highcharts/modules/exporting.js}"></script>
<script th:src="@{/highcharts/modules/export-data.js}"></script>
<div th:replace="layout/layout :: header"></div>


<div class="theday am-g am-g-fixed">

    <div class="mysearch am-container">

            <form class="am-form am-form-horizontal " th:action="@{/reward/rewardList}">
                <div class="am-input-group am-input-group-primary am-input-group-success form-group">
                    <label  class="col-sm-4 control-label">开始时间:</label>
                    <span class="col-sm-7">
                     <input  type="date" name="startDate" min="1970-01-01" th:value="${inData.startDate}" max="2050-12-31" placeholder="开始时间" />到
                     <input  type="date" name="endDate" min="1970-01-01" th:value="${inData.endDate}" max="2050-12-31" placeholder="结束时间" />
                    </span>

                    <span class="am-input-group-btn">
                        <button class="am-btn am-btn-success" type="submit">
                            <span class="am-icon-search"></span>
                        </button>
                    </span>
                </div>
            </form>

    </div>


    <div class="am-panel am-panel-default">
        <div class="am-panel-hd">奖励>></div>
        <div class="am-panel-bd">


                    <ul class="am-list am-list-static am-list-border am-list-striped am-animation-fade" th:each="reward:${list}">
                        <li>
                            <div class="am-container">
                                <i class="am-icon-male am-icon-fw"></i>
                                <span th:text="${reward.name}"></span>&nbsp;小朋友，获得
                                <img width="25" height="20" th:src="@{/image/flower.gif}" />
                                X <span  style="color:red;" th:text="${reward.ct}"></span>
                            </div>
                            <div class="am-g am-g-fixed">
                                <div class="am-u-sm-6">
                                <ul >
                                    <li th:each="rewardCount:${reward.typeCountList}">
                                        <span th:text="${rewardCount.type_name}" />
                                        <img width="25" height="20" th:src="@{/image/flower.gif}" />X<span  style="color:red;" th:text="${rewardCount.type_count}" />
                                    </li>
                                </ul>
                                </div>
                                <div class="am-u-sm-6">
                                    <div th:id="${'container' + reward?.name}" style="min-width: 210px; height: 300px; max-width: 500px; margin: 0 auto"></div>
                                    <div th:fragment="scripts(scripts)">
                                        <script th:inline="javascript">

                                            var  typeCountListJson=  eval('(' + [[${reward?.typeCountListJson}]]   + ')');
                                            var  babyName =  [[${reward?.name}]];
                                            var  containerName = "container" + babyName;

                                        </script>
                                </div>

                                    <script type="text/javascript">
                                        //alert(babyName);
                                        Highcharts.chart(containerName, {
                                            chart: {
                                                plotBackgroundColor: null,
                                                plotBorderWidth: null,
                                                plotShadow: false,
                                                type: 'pie'
                                            },
                                            title: {
                                                text: babyName
                                            },
                                            tooltip: {
                                                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                                            },
                                            plotOptions: {
                                                pie: {
                                                    allowPointSelect: true,
                                                    cursor: 'pointer',
                                                    dataLabels: {
                                                        enabled: true,
                                                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                                                        style: {
                                                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                                                        }
                                                    }
                                                }
                                            },
                                            series: [{
                                                name: babyName,
                                                colorByPoint: true,
                                                data: typeCountListJson
                                            }]
                                        });
                                    </script>
                                </div>
                            </div>

                        </li>

                    </ul>

        </div>

    </div>
</div>

</div>


<div th:replace="layout/layout :: footer"></div>


</body>
</html>